// Breakpoint Variables
$breakpoint-mobile: 600px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;

// Colors
$marvel-red: #ec1d24;
$primary: #000000;
$secondary: #ffffff;
$placeholder: #aaaaaa;
$accent: #333333;
$scrollbar: #d9d9d9;

// Sizes
$header-height: 84px;
$marvel-logo-width: 130px;
$marvel-logo-height: 52px;
$card-size: 190px;
$card-size-l: 320px;
$card-cutout: 13px;
$card-cutout-l: 24px;
$comic-width: 180px;
$line-height: 19px;
$bolder: 500;
